<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wumeijie.dao.OrdersMapper">
	<resultMap id="OrdersResultMap" type="net.wumeijie.model.Orders">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="platform_id" jdbcType="INTEGER" property="platformId" />
		<result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
		<result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
		<result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
		<result column="goods_id" jdbcType="BIGINT" property="goodsId" />
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
		<result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
		<result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="province_id" jdbcType="INTEGER" property="provinceId" />
		<result column="province_name" jdbcType="VARCHAR" property="provinceName" />
		<result column="city_id" jdbcType="INTEGER" property="cityId" />
		<result column="city_name" jdbcType="VARCHAR" property="cityName" />
		<result column="district_id" jdbcType="INTEGER" property="districtId" />
		<result column="district_name" jdbcType="VARCHAR" property="districtName" />
		<result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
		<result column="platform_name" jdbcType="VARCHAR" property="platformName" />
		<result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
	</resultMap>
	<select id="getCountByMerchantIdOrderSn" resultType="java.lang.Integer">
		select count(1) from orders where merchant_id=${merchantId} and
		order_sn=#{orderSn}
		<if test="platformId!=null">
			and platform_id=${platformId}
		</if>
	</select>
	<select id="getOrderListById" resultMap="OrdersResultMap">
		select * from orders where id = ${id} limit 10
	</select>
</mapper>
